body {
    display: flex;
    margin: 0;
    padding: 0;
    background-color: rgb(134,0,0);
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    align-items: center;
}

.container {
    height: 512px;
    width: 512px;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex: 1;
}

.square,
.hoveredSquare {
    flex: 1;

}

.square {
    background-color: rgb(130, 130, 130);
}

.hoveredSquare {
    background-color: rgb(100, 100, 100);
}


.header {
    background-color: rgb(100, 0, 0);
    color: rgb(225, 225, 225);
    width: 100vw;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}


.buttons {
    display: flex;
    background-color: rgb(100, 0, 0);
    width: 100vw;
    height: 10vh;
    justify-content: center;
    align-items: center;
    gap: 64px;
}

button {
    background-color: rgb(225, 225, 225);
    border-radius: 4px;
}