body {
    display: flex;
    background-color: rgb(134,0,0);
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    align-items: center;
}

.container {
    height: 512px;
    width: 512px;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex: 1;
}

.square,
.hoveredSquare {
    flex: 1;

}

.square {
    background-color: rgb(130, 130, 130);
}

.hoveredSquare {
    background-color: rgb(100, 100, 100);
}